@import url("https://fonts.googleapis.com/css?family=Urbanist");
@import url("https://fonts.googleapis.com/css?family=Kosugi");
@import url("https://fonts.googleapis.com/css2?family=Asul:wght@700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  cursor: none;
}

body {
    background-color: #232322;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    
}
html, body {
    height: 100%;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}

.topnav {
    transform: translate(-5px, 5px);
    background-color: #323333;
    overflow: hidden;
    border-radius: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
  
.topnav ul {
    list-style: none;
    padding-right: 10px;
    margin: 0;
    text-align: right;
}
  
.topnav li {
    display: inline-block;
}
  
.topnav li a:hover {
    color: #ccf3d3;
    transition: 0.2s;
}
  
.topnav a {
    display: inline-block;
    color: #efefef;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Lexend";
    font-weight: 100;
}
  
.topnav img {
    float: left;
    position: relative;
    padding: 10px 10px 10px 10px;
    transition: 0.2s;
}


.hcontainer {
    text-align: center;
    border: white 2px;
}

.ass-heading span {
    font-weight: 200;
    color: white;
}

.ass-heading {
  color:#ccf3d3;
  font-size: 20px;
  font-family: "Lexend"

}

.ass-heading h3{
    font-weight: 100;
    color: white;
    font-size: 15px;
}
.figcontainer {
    padding-left: 150px;
    padding-right: 150px;
}
.m-elem {
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid white; 
    border-radius: 10px;
    padding: 15px;
}

.pdfdw {
    font-weight: 200;
    font-size: 15px;
}
 


